CHAOSS_CHANNEL_ID="C0123456789"
CHAOSS_CHANNEL_COMMUNITY_MANAGERS="C0123456789"
CHAOSS_CHANNEL_DESIGNERS="C0123456789"
CHAOSS_CHANNEL_DEVELOPERS="C0123456789"
CHAOSS_CHANNEL_TECHNICAL_WRITERS="C0123456789"
CHAOSS_CHANNEL_RESEARCHERS="C0123456789"
CHAOSS_HELP_USER_ID="U0123456789"
